body{
  background-color: var(--color-bgColor);
}

h1{
  margin: 72px auto;
  text-align: center;
}

.TodoList{
  margin: 0 64px;
  border-top: 1px solid var(--color-gray);
  display: flex;
  flex-direction: column;
}
.TodoList__input{
  margin: 16px auto; 
  /* 부모의 display flex일 때만 auto가 기대한 대로 작동 */
  width: 54%;
  min-width: 700px;
  height: 48px;
  border-radius: 4px;
  padding-left: 16px;
}
.TodoList__input:focus{
  border: 1px solid var(--color-blue);
  outline: 1px solid var(--color-lightBlue);
}
.TodoList__container{
  display: flex;
  justify-content: center;
  gap: 160px;
  padding: 0 16px;
  font-size: large;
  font-weight: 600;
}
.TodoList__category{
  margin-bottom: 64px;
  border-bottom: 3px solid var(--color-gray);
}
.TodoList__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  gap: 8px;
}

.TodoList__content{
  border-bottom: 4px solid var(--color-gray);
  width: 180px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;

}
.TodoList__form{
  display: flex;
  justify-content: center;
}